<div class="border statisticPanel">
    <div class="heading-icon blink-slower"></div>
    <div class="heading-text go-space-white">@DataContext.StatusViewModels.Count OBSERVABLE ITEMS.</div>
    <div class="success-icon"></div>
    <div class="success-text go-green">@DataContext.SuccessCount SUCCESSFULL.</div>
    <div class="warning-icon"></div>
    <div class="warning-text go-yellow">@DataContext.WarningCount WARNING.</div>
    <div class="fail-icon"></div>
    <div class="fail-text go-red">@DataContext.FailCount FAIL.</div>
    <div class="error-icon"></div>
    <div class="error-text go-mars">@DataContext.ErrorCount ERROR.</div>
    <div class="unknown-icon"></div>
    <div class="unknown-text go-bluey">@DataContext.UnknownCount UNKNOWN.</div>
</div>
